footer {
    width: 100%;
    padding-block: 20px;
    background-color: #41426F;
    text-align: center;
    color: white;
}
footer ul {
    display: flex;
    gap: 87px;
    justify-content: center;
    margin-bottom: 22px;
}