body{
    /* padding-top: 120px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease-in-out;
    color: #41426F;
    align-content: space-between;
}
.button {
    width: 150px;
    height: 64px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.25s ease-in;
    transition-property: background, color, border;
}
.button:hover {
    background-color: #ffffff;
    color: #41426F;
}
.cancel-btn {
    background-color: #49A37B;
}
.submit-btn {
    background-color: #41426F;
}
.red-outline{
    box-shadow: 0px 0px 0px 2px #ff0000;
}
.green-outline{
    box-shadow: 0px 0px 0px 2px #49A37B;
}
.hidden {
    display: none;
}
.visible {
    visibility: visible!important;
}
.frame {
    padding: 25px 60px;
    border-radius: 30px;
}
.drop-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}
@media screen and (min-width: 768px) {
    .intro>* {
        width: 45%;
    }
    .intro {
        /* This value comes from the image height */
        height: 285px;
        padding-block: 45px;
    }
    /* Make img element appear and replace the background-image of the anchor */
    .intro img {
        display: initial;
    }
    .more {
        height: auto;
        margin-top: 0px;
        padding-block: 0px;
        background-image: none;
    }
    .features h3 {
        line-height: 1.2em;
    }
    .features div {
        flex: 1 0 48%;
    }
    .features .col {
        padding-right: 0;
    }
    .benefits {
        padding-inline: 10%;
    }
    .about-us {
        width: auto;
        padding-inline: 10%;
    }
    .site-map {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
        box-sizing: border-box;
        width: 100%;
        padding-block: 60px;
        padding-inline: 7%;
        margin-bottom: 0;;
    }
    .site-map .link-group {
        padding: 8px 0px;
        height: 100%;
        border-bottom: none;
    }
    .site-map .separator {
        display:initial;
    }
}
@media screen and (min-width: 1024px){
    aside {
        display: flex;
    }
    .benefits {
        padding-inline: 15px;
    }
    /* Make button disapear since the sidebar is displayed */
    .burger-button {
        display: none;
    }
    .about-us p{
        order: 1;
    }
    .about-us img {
        order: 2;
   }
    .about-us p:last-child{
        order: 3;
   }
}