<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix | Log in</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
    <header>
        <a href="index.html">
            <h1>Trackgenix</h1>
        </a>
        <img class="burger-button"src="../assets/icons/bars-solid.svg" alt="">
    </header>
    <main class="login-main">
        <img src="../assets/img/trackgenix-logo.svg" alt="Trackgenix logo">
        <div class="frame drop-shadow">
            <h2>Log in</h2>
            <form>
                <fieldset>
                    <label class="hidden" for="email-address">E-mail address</label>
                    <input class="text-field" type="text" name="user" id="email-address" placeholder="E-mail address">
                </fieldset>
                <fieldset>
                    <label class="hidden" for="password">Password</label>
                    <input class="text-field" type="password" name="pass" id="password" placeholder="Password">
                </fieldset>
                <fieldset id="remember-user">
                    <input type="checkbox" name="remember-user" id="remember-user-check">
                    <span class="custom-checkbox"></span>
                    <label for="remember-user-check">Remember me</label>
                </fieldset>
                <a href="#">Forgot your password?</a>
            </form>
        </div>
        <div class="buttons">
            <a href="../views/index.html" id="cancel-btn" class="cancel-btn button drop-shadow">Cancel</a>
            <button id="login-btn" class="submit-btn button drop-shadow">Log in</button>
        </div>
    </main>
    <footer>
        <ul>
            <li>
                <a href="www.facebook.com/Trackgenix">
                    <img src="../assets/icons/Facebook(white).svg" alt="Facebook page">
                </a>
            </li>
            <li>
                <a href="www.instagram.com/Trackgenix">
                    <img src="../assets/icons/Instagram(white).svg" alt="Instagram profile">
                </a>
            </li>
            <li>
                <a href="www.twitter.com/Trackgenix">
                    <img src="../assets/icons/Twitter(white).svg" alt="Twitter handle">
                </a>
            </li>
        </ul>
        <p>&copy;Gigatech Software Solutions S.A. Inc. ALL RIGHTS RESERVED</p>
    </footer>
    <div class="modal modal-bg hidden">
        <div class="modal-box">
            <div class="modal-content">
                    <button class="drop-shadow">OK</button>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>