<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix | Employee sign up</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../javascript/sign-up.js"></script>
</head>

<body>
    <header>
        <h1>Trackgenix</h1>
        <img class="burger-button" src="../assets/icons/bars-solid.svg" alt="">
    </header>
    <main class="signup-main">
        <p class="welcome-msg">Welcome to Trackgenix!</p>
        <h2>Register account</h2>
        <form id="signup-form" class="frame drop-shadow">
            <fieldset>
                <label for="name-field">Name</label>
                <input type="text" id="name-field">
            </fieldset>
            <fieldset>
                <label for="surname-field">Surname</label>
                <input type="text" id="surname-field">
            </fieldset>
            <fieldset>
                <label for="dni-field">DNI number</label>
                <input type="text" id="dni-field">
            </fieldset>
            <fieldset>
                <label for="date-birth-field">Date of birth</label>
                <input type="date" id="date-birth-field">
            </fieldset>
            <fieldset>
                <label for="phone-field">Phone number</label>
                <input type="text" id="phone-field">
            </fieldset>
            <fieldset>
                <label for="home-address-field">Home address</label>
                <input type="text" id="home-address-field">
            </fieldset>
            <fieldset>
                <label for="city-field">City</label>
                <input type="text" id="city-field">
            </fieldset>
            <fieldset>
                <label for="zipcode-field">Zip code</label>
                <input type="text" id="zipcode-field">
            </fieldset>
            <fieldset>
                <label for="email-address-field">E-mail address</label>
                <input type="text" id="email-address-field">
            </fieldset>
            <fieldset>
                <label for="pass-field">Password</label>
                <input type="password" id="pass-field">
            </fieldset>
            <fieldset>
                <label for="pass-confirm-field">Confirm password</label>
                <input type="password" id="pass-confirm-field">
            </fieldset>
            <fieldset class="buttons">
                <a href="../views/index.html" id="cancel-btn" class="cancel-btn button drop-shadow">Cancel</a>
                <button id="signup-btn" class="submit-btn button drop-shadow">Sign up</button>
            </fieldset>
        </form>
    </main>
    <footer>
        <ul>
            <li>
                <a href="www.facebook.com/Trackgenix">
                    <img src="../assets/icons/Facebook(white).svg" alt="Facebook page">
                </a>
            </li>
            <li>
                <a href="www.instagram.com/Trackgenix">
                    <img src="../assets/icons/Instagram(white).svg" alt="Instagram profile">
                </a>
            </li>
            <li>
                <a href="www.twitter.com/Trackgenix">
                    <img src="../assets/icons/Twitter(white).svg" alt="Twitter handle">
                </a>
            </li>
        </ul>
        <p>&copy;Gigatech Software Solutions S.A. Inc. ALL RIGHTS RESERVED</p>
    </footer>
    <div class="modal modal-bg hidden">
        <div class="modal-box">
            <div class="modal-content">
                <!-- <h3>Modal heading</h3>
                <p>Modal text</p>
                <ul>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li>
                    <li>Some error</li> -->
                    <button class="drop-shadow">OK</button>
                </ul>
            </div>
        </div>
    </div>
</body>