<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix | Log in</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/header.css">
    <!-- <link rel="stylesheet" href="../styles/main.css"> -->
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <h1>Trackgenix</h1>
        <img class="burger-button"src="../assets/icons/bars-solid.svg" alt="">
    </header>
    <main>
        <img src="" alt="">
        <div>
            <h2>Log in</h2>
            <form>
                <fieldset>
                    <label for="username">Username</label>
                    <input type="text" name="user" id="username">
                </fieldset>
                <fieldset>
                    <label for="password">Password</label>
                    <input type="password" name="pass" id="password">
                </fieldset>
                <fieldset>
                    <input type="radio" name="remember-user" id="remember-user-radio">
                    <label for="remember-user-radio">Rememeber me</label>
                </fieldset>
                <a href="">Forgot your password?</a>
            </form>
        </div>
        <div>
            <button>Cancel</button>
            <button>Log in</button>
        </div>
    </main>
    <footer>
        <ul>
            <li>
                <a href="www.facebook.com/Trackgenix">
                    <img src="../assets/icons/Facebook(white).svg" alt="Facebook page">
                </a>
            </li>
            <li>
                <a href="www.instagram.com/Trackgenix">
                    <img src="../assets/icons/Instagram(white).svg" alt="Instagram profile">
                </a>
            </li>
            <li>
                <a href="www.twitter.com/Trackgenix">
                    <img src="../assets/icons/Twitter(white).svg" alt="Twitter handle">
                </a>
            </li>
        </ul>
        <p>&copy;Gigatech Software Solutions S.A. Inc. ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>