main{
    /* 1024(breakpoint)-288(sidebar)= 736*/
    flex: 1 1 736px;
    /* Taking padding into account for box sizing */
    box-sizing: border-box;
    padding-top: 20px;
    padding-inline: 20px;
    font-size: 21px;
    color: #41426F;
}
main section{
    border-top: 3px #41426F solid;
}
main .intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 8px;
    padding: 5px 0 45px 0;
}
main .intro h2 {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
main .intro h3 {
    font-size: 20px;
    text-transform: uppercase;
}
main .intro img {
    display: none;
    height: 285px;
    border-radius: 5px;
    object-position: center center;
    object-fit: cover;
}
main p {
    font-size: 12px;
    line-height: 14.04px;
}
main .more {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    height: 215px;
    margin-top: 46px;
    padding: 12px 8px;
    border-radius: 5px;
    background-image: url("../assets/img/time-tracking-art.png");
    background-position: center;
    background-size: cover;
}
main .intro a{
    display: block;
    width: 147px;
    order: 2;
    border-radius: 5px;
    background-color: #ffffff;
    color:black;
    font-size: 16px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    box-shadow: 0px 4px 4px #00000040;
    transition-property: color background-color;
    transition-duration: 0.3s;
}
main .intro a:hover{
    background-color: #AACE9B;
    color: white;
}
main .features{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    padding: 45px 0 68px 0;
}
main .features .row{
    display: flex;
    align-items: start;
    gap: 10px;
    /* flex-basis is taken from experimentation,
       it make the flex flow break into a 2x2 grid
       at the right breakpoint  */
    flex: 1 0 370px
}
main .features .col{
    display: flex;
    flex-direction: column;
    gap: 7px;
    /* To make paragraph look centered
       58px icon + 10 gap = 68px */
    padding-right: 68px;
}
main .features img {
    flex: 0 0 58px;
    width: 100%;
}
main .features h3 {
    color: black;
    font-size: 30px;
    line-height: 58px;
    font-weight: bold;
    letter-spacing: -1.5px;
}
main .features p {
    font-size: 14px;
    font-weight: bold;
}
main .benefits {
    padding: 26px 70px;
    letter-spacing: -1px;
}
main .benefits p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
}
main .benefits h2 {
    font-size: 40px;
    font-weight: 700;
    border-bottom: 4px #41426F solid;
    width: fit-content;
}
main .benefits h3 {
    display: inline;
    font-size: 22px;
    font-weight: 600;
}
main .benefits ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 26px;
    list-style-position: inside;
    list-style-image: url(../assets/icons/triangle-icon.svg);
}
main .benefits li {
    flex: 1 0 280px;
}
main form {
    display: flex;
    flex-direction: column;
    margin-inline: 10%;
    margin-top: 26px;
    margin-bottom: 71px;
    padding-top: 31px;
    padding-inline: 18px;
    background-color: #AACE9B;
    border-radius: 20px;
    color: #41426F;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    overflow: auto;
}
/* This divs are for making the 'name' and 'email' fields side by side */
main form>div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
main form div>* {
    flex: 1 0 268px;
}
main form label {
    display: inline-block;
    margin-bottom: 7px;
}
main form input,textarea,select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 12px;
    padding-block: 10px;
    margin-bottom: 7px;
    background-color: transparent;
    border: #41426F 1px solid;
    border-radius: 4px;
    color: inherit;
    font: inherit;
    font-weight: normal;
}
main input[type=submit]:hover{
    background-color: #41426F;
    color: white;
}
main form input[type=submit] {
    align-self: flex-end;
    width: 100px;
    padding-block: 4.5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    line-height: 15.23px;
    box-shadow: 0px 4px 4px #00000040;
    transition-property: color background-color;
    transition-duration: 0.3s;
}
main .about-us {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-block: 38px;
}
main .about-us h2 {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
main .about-us p{
    /* If there is less than 220px just stack all the elements */
    flex: 1 0 220px;
    order: 2;
    align-self: flex-start;
    font-size: 18.5px;
    font-weight: 400;
    line-height: normal;
}
/* Make last paragraph always wrap to a new line with width 100% */
main .about-us p:last-child{
    flex: 1 0 100%;
    margin-bottom: 0px;
}
main .about-us img {
    flex: 10 0 30%;
    order: 1;
    align-self: center;
    min-width: 200px;
    height: 171px;
    object-fit: cover;
    object-position: right;
    border-radius: 5px;
}
main .site-map {
    display: flex;
    flex-flow: row wrap;
    justify-content: baseline;
    gap: 50px;
    padding-block: 50px;
    /* Using different padding amounts to make links look centered optically */
    padding-left: 37%;
    padding-right: 23%;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
main .site-map .link-group{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 0 0 120px;
    height: 100%;
    border-bottom: 3px #41426F solid;
    padding-bottom: 50px;
}
main .site-map .link-group:last-child {
    border-bottom: none;
}
/* Using a separator for the horizontal layout
   and border-bottom and padding for the vertical layout */
main .site-map .separator {
    display: none;
    border-right: #41426F 3px solid;
}
main .site-map h3 {
    flex: 1 0 30%;
    font-size: 40px;
}
main .site-map .link-group ul {
    flex: 1 0 20%;
    padding-left: 10px;
}
main .site-map li {
    margin-top: 30px;
    text-align: left;
    list-style-position: inside;
    list-style-image: url(../assets/icons/triangle-icon.svg);
}